<li>
	{{name}}

	<button class="change-eat" data-id="{{id}}" data-neweat="{{eat}}">
		{{#if eaten}}Already Tried This!{{else}}Must try ASAP!{{/if}}
	</button>
	<button class="js-delete" data-id="{{id}}">Bye Bye Burger!</button>
</li>
